@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h3>@Html.ActionLink("Manage my Wishlists", "Index", "Wishlist")</h3>
        </div>
    </section>
}

@section scripts {
    <script type="text/javascript">
        wishlistApp.controller('userInfosController', function ($scope, $http)
        {
            $scope.users = [];

            $http.post("@Url.Action("GetUserInfos", "Home")", {})
                .success(function (data, status, headers, config)
                {
                    $scope.users = data.Users;
                });

            $scope.viewUser = function (userId)
            {
                window.location.href = "@Url.Action("ViewUser", "Wishlist")?ID=" + userId;
            }
        });
    </script>
}

<div ng-controller="userInfosController">
    <h3>Or view wishlists listed as public:</h3>
    <div ng-repeat="u in users">
        <a href="" ng-click="viewUser(u.ID)">{{u.UserName}}</a>
    </div>
</div>
